@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: "Poppins", sans-serif;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.horizontal-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header {
    margin: 20px 0;
    text-align: center;
    color: #fff;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    max-width: 100%;
    height: auto;
    background-color: #fff;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    canvas {
        width: 100%;
        height: auto;
    }
}

#regenerateMaze {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#regenerateMaze:hover {
    cursor: pointer;
    background-color: #ececec;
}

#regenerateMaze1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#regenerateMaze1:hover {
    cursor: pointer;
    background-color: #ececec;
}

#regenerateMaze2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#regenerateMaze2:hover {
    cursor: pointer;
    background-color: #ececec;
}

#regenerateMaze3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#regenerateMaze3:hover {
    cursor: pointer;
    background-color: #ececec;
}

#regenerateMaze4 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#regenerateMaze4:hover {
    cursor: pointer;
    background-color: #ececec;
}

#aboutGame {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#aboutGame:hover {
    cursor: pointer;
    background-color: #ececec;
}

header h1 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 2.5em;
}

header h2 {
    margin-top: 5px;
    font-size: 1.5em;
    color: #fff;
}

#moveUp {
    margin-left: -5px;
}

#moveUp, #moveDown, #moveLeft, #moveRight {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
}

#moveUp:hover, #moveDown:hover, #moveLeft:hover, #moveRight:hover {
    cursor: pointer;
    background-color: #ececec;
    border-radius: 8px;
}
